@tailwind base;

@tailwind components;

body{
    @apply 
    flex 
    flex-col 
    h-screen
    ;

}

main{
    @apply 
    bg-gradient-to-r from-blue-800 to-green-400
    h-full
    flex 
    flex-col 
    justify-center 
    items-center 
    
    sm:from-yellow-400 sm:to-green-400
    
    lg:from-yellow-400 lg:to-red-400    ;
}


.email_box{
    @apply
    w-64
    bg-red-400
    /* p-8 */

    /*Medium*/
    md:w-96

    rounded-md
    ;
}
.email_box_header{
    @apply
    flex
    justify-center
    items-center
    gap-4
    p-2
    capitalize
    text-xl
    bg-pink-700
    text-pink-50

    rounded-t-md
}


.labels{
    @apply
    text-pink-50
    block

    font-semibold

    /*Margins*/
    mt-2
}


.emai_box_inputs{
    @apply

    /*Paddings*/
    px-8
    py-4

}

.inputs{
    @apply
    rounded-md
    block
    w-full

    text-pink-700

    pl-2
    py-2
    focus:outline-none
    focus:ring-2 focus:ring-pink-200

    placeholder-pink-200
}


.email_box_loaders{
    @apply
    flex
    justify-center
}

.email_box_loader{
    @apply
    w-20
    h-auto

    transform
    duration-1000
}

.email_box_buttons{
    @apply
    flex
    flex-col
    gap-4    
    /*Paddings*/
    px-8
    py-4

    /*Medium*/
    md:flex-row
    md:justify-between
}

.email_box_button{
    @apply

    /*Paddings*/
    px-5
    py-1

    bg-white
    rounded-sm
    transform
    duration-300
    active:translate-y-1
    shadow-xl

    flex
    justify-center
    gap-5
    items-center

    uppercase

    rounded-md

    select-none

}

.email_box_button{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.email_box_button-enviar{
    @apply
    bg-pink-600
    text-pink-50 

    active:bg-pink-700

}


.email_box_button-limpiar{
    @apply

    bg-blue-500
    text-blue-50

    active:bg-blue-600

}


@tailwind utilities;

